<%- include('partials/_header') -%>

<body>

  <%- include('partials/_navigation') -%>
     
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= post.title %></h1>
            <h2 class="subheading"><%= post.detail.substring(0,150) %>...</h2>
            <span class="meta">Posted by
              <a href="#">Start Bootstrap</a>
              on 
              <%= post.dateCreated.toLocaleString('en-EN',{month:'long'})%>
              <%= post.dateCreated.getDate()  %>,
              <%= post.dateCreated.getFullYear()%>
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p><%= post.detail %></p>

            <a href="/post/edit/<%= post._id %>" type="button" class="btn btn-outline-primary">Update</a>
            <a href="/posts/<%= post._id %>?_method=DELETE" type="button" class="btn btn-outline-danger">Delete</a>
        </div>
      </div>
    </div>
  </article>

  <hr>

  <%- include('partials/_footer') -%>


</body>

</html>
